---
import Layout from "../layouts/Layout.astro";
import { projects } from "../data/projects";
---

<Layout title="Work">
  <div class="max-w-5xl mx-auto p-6 space-y-6">
    <h1 class="text-4xl font-bold dark:text-white">Work</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        projects.map((project) => (
          <a
            href={project.projectUrl}
            target="_blank"
            class="group opacity-80 hover:opacity-100 block rounded-lg overflow-hidden shadow-md hover:shadow-xl transition-all duration-200 bg-card dark:bg-card-dark"
          >
            <img
              src={project.imageUrl}
              alt={project.title}
              class="w-full object-cover h-48"
            />
            <div class="p-4">
              <h2 class="text-2xl font-semibold dark:text-white">
                {project.title}
              </h2>
              <p class="mt-2 text-gray-600 dark:text-gray-300">
                {project.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
 ../data/projects
